<h1><%= @name_1 %> vs. <%= @name_2 %></h1>

<h1><%= @name_2 %>: 60HP </h1>

<form action="/play" >

<<button onclick=“myFunction()“>Click me</button>
</form>

<% if params[:attack]
  print "attacked player 2"
  end %>
