<h1><%= @name_1 %> vs. <%= @name_2 %></h1>

<h1><%= @name_2 %>: 60HP </h1>

<!-- <form action="/play" > -->

<form action="/attack", method='post'>
<input type="submit" value="Attack">
</form>

<!-- <button type="button" onclick="/attack">Attack</button> -->

<% if session[:attack] == true %>
  <p>Attacked player 2</p>
<% end %>



<!-- </form> -->
<%# def attack(arg) %>
  <!-- puts arg -->
 <!-- end %> -->



<!-- <button type="button" onclick="attack('Attack player 2')">Attack</button> -->
<!-- </form> -->
 <%# def attack(arg) %>
  <!-- puts arg -->
 <!-- end %> -->
