<h1><%= $Player1.name %> vs. <%= $Player2.name %></h1>

<h1><%= $Player2.name %>: <%= $Player2.hp %>HP</h1>

<!-- <form action="/play" > -->

<form action="/attack", method='post'>
<input type="submit" value="Attack">
</form>

<!-- <button type="button" onclick="/attack">Attack</button> -->

<% if session[:attack] == true %>
  <p>Attacked player 2</p>
<% end %>



<!-- </form> -->
<%# def attack(arg) %>
  <!-- puts arg -->
 <!-- end %> -->



<!-- <button type="button" onclick="attack('Attack player 2')">Attack</button> -->
<!-- </form> -->
 <%# def attack(arg) %>
  <!-- puts arg -->
 <!-- end %> -->
